<?xml version="1.0" encoding="utf-8"?>
<configuration>
	
  <configSections>
  </configSections>
  <appSettings>
	<add key="BasisCon" value="User ID=banksys;Password=banksys;data source=10.0.6.220:1521/banks.world4;" />
	<!--<add key="BasisCon" value="DATA SOURCE=(DESCRIPTION =(ADDRESS_LIST =(ADDRESS=(PROTOCOL = TCP)(HOST = 10.0.6.220)(PORT = 1521)))(CONNECT_DATA =(SERVICE_NAME = BANKS.WORLD4)));Persist Security Info=False;user id=banksys; password=banksys;"/>-->
    <add key="HOSTFORSOCKET" value="10.1.100.13" />
    <add key="PORTFORSOCKET" value="8050" />
    <add key="TIMEOUTSOCKET" value="200000" />
    <!--<add key="PINPADURL" value="http://10.1.50.75/PinPadService_fasttrack_Biometric/AppdevService.asmx?WSDL"/>-->
    <!--<add key="PINPADURL" value="http://localhost/PinPadService/AppDevService.asmx"/>-->
    <!--<add key="PINPADURL" value="http://10.0.6.205/PinpadService/AppdevService.asmx"/>-->
    <!--Added by Habiba for biometric implementation-->
	<add key="PINPADURL" value="http://localhost:4520/.asmx" />
	<!--<add key="PINPADURL" value="http://10.0.6.205/Osakue/New/AppdevService.asmx"/>-->
    <add key="FingerPrintVerificationApi" value="http://localhost:30871/api/FingerPrintVerification" />
    <add key="InstitutionCode" value="00058" />
    <add key="ErrorFolder" value="C:\PinPadLogs\" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" /></startup>
  <runtime>
	  <NetFx40_LegacySecurityPolicy enabled="true"/>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.Shared" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.4000.0" newVersion="13.0.4000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportSource" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.4000.0" newVersion="13.0.4000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.CrystalReports.Engine" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.3500.0" newVersion="13.0.3500.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportAppServer.DataSetConversion" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.4000.0" newVersion="13.0.4000.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
	  <securityPolicy>
		  <trustLevel name="Full" policyFile="internal"/>
	  </securityPolicy>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
	<startup useLegacyV2RuntimeActivationPolicy="true">
		<supportedRuntime version="v4.0" />
	</startup>
</configuration>
